<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "تعاونية تميمت سوس" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <!-- CSS العام -->
 <link rel="stylesheet" href="{{ '/assets/css/style.css'  | url }}">
<link rel="stylesheet" href="{{ '/assets/css/navbar.css' | url }}">
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | url }}">

  <!-- CSS خاص بالصفحات -->
  {% if css %}
    {% for file in css %}
      <link rel="stylesheet" href="{{ file | url }}">
    {% endfor %}
  {% endif %}

</head>

<body>

  {% include "navbar.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  <!-- JS -->
  <script src="{{ 'assets/js/cart.js' | url }}"></script>

</body>
</html>
